extends layout.pug

block content
  div(class='row')
    +breadcrumb(breadcrumb)
  each value, key in entries
    div(class='row')
      div(class='card-heading')
          = key
      div(class='card round-borders-bottom secret margin-bottom')
          = value
