doctype html
html
  head
    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:500")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata")
  body
    div(class='content')
      div(class='content-body')
        block content
