extends layout.pug

block content
  div(class='row')
    +breadcrumb(breadcrumb)
  each item in list
    a(href=item.link)
      div(class='card-islet round-borders margin-top row ' + (item.class || ''))
        div(class='entry')
          = item.name
