a {
    text-decoration: none;
    color: #000;
}

ul {
    margin: 0;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

li {
    list-style-type: none;
}

body {
    background: url('http://api.thumbr.it/whitenoise-361x370.png?background=fafafaff&noise=ababab&density=15&opacity=15');
    font-family: 'IBM Plex Serif', serif;
}

.margin-top {
    margin-top: 5px;
}

.margin-bottom {
    margin-bottom: 5px;
}

.margin-bottom-large {
    margin-bottom: 10px;
}

.full-width {
    width: 100%;
}

.content {
    max-width: 80%;
    margin: 5rem auto 0 auto;
}

.row {
    margin: 5px auto 0 auto;
    width: 40%;
}

.entry {
    padding: 10px 10px 10px 30px;
}

.entry a {
    font-family: 'IBM Plex Serif', serif;
}

.secret {
    font-family: 'Inconsolata', monospace;
}

.card {
    background-color: #fff;
    padding: 10px 50px;
    border-left: solid 1px lightgrey;
    border-right: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(194,194,194,1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(194,194,194,1);
    box-shadow: 0px 1px 1px 0px rgba(194,194,194,1);
}

.card-islet {
    background-color: #fff;
    border-top: solid 1px #f4f4f4;
    border-left: solid 1px lightgrey;
    border-right: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(194,194,194,1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(194,194,194,1);
    box-shadow: 0px 1px 1px 0px rgba(194,194,194,1);
}

.round-borders {
    border-radius: 5px;
}

.round-borders-bottom {
    border-radius: 0 0 5px 5px;
}

.card-heading {
    background-color: #6200ee;
    color: #fff;
    padding: 10px 25px;
    font-weight: 600;
    cursor: default;
}

.breadcrumb {
    background-color: #6200ee;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding: 10px 10px 10px 10px;
}

.crumb {
    display: inline-block;
    padding: 0 5px 0 0;
}

.crumb a {
    color: #fff;
}
